* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
  background-color: #9bbec8;
  position: fixed;
  width: 100%;
}

nav .logo {
  width: 75px;
  margin-left: 100px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: -1px 8px 12px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 8px 12px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 12px -2px rgba(0, 0, 0, 0.75);
}

.nav-li li a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.nav-li li {
  margin-right: 50px;
  display: inline;
  border: 1px solid black;
  flex-direction: row;
  border-radius: 20px;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  background-color: #ebe3d5;
}



.nav-li .jarak {
  margin-right: 100px;
}

.nav-li li:hover {
  background-color: #b0a695;
  transition: 0.7s;
  box-shadow: 1px 3px;
}

.gambarHome {
  display: flex;
  background-image: url(../assets/img/gambar3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
}

.gambarHome div {
  margin: auto;
  color: #f7efe5;
  width: 600px;
  text-align: center;
}

.gambarHome h1 {
  font-weight: bold;
}

/* about me */
.judulAbout {
  display: flex;
  justify-content: space-around;
}

.judulAbout h1 {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 110px;
}

.aboutMe {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.gambarAbout {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid black;
}

.aboutT {
  text-align: center;
  padding: 10px;
  padding-top: 20px;
}

.aboutT p {
  word-spacing: 3px;
}

.gambarAbout img {
  width: 350px;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 10px;
}

.my {
  border: 2px solid black;
  border-radius: 20px;
  background-color: #f0ece5;
  width: 500px;
}

.myP {
  border: 2px solid black;
  border-radius: 20px;
  width: 490px;
  background-color: #f0ece5;
}
.judulData h2 {
  text-align: center;
  border-bottom: 2px solid black;
  padding: 10px;
  margin-bottom: 115px;
}

.isiData {
  font-size: 18px;
  padding: 10px;
}

.isiData p {
  display: flex;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px;
  background-color: whitesmoke;
  font-weight: 563;
}

.judulMassge {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.judulMassge h1 {
  font-weight: bold;
  margin-top: 80px;
}

.pesan {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

input[type="text"] {
  margin: 8px;
  box-sizing: border-box;
  width: 85%;
}

input[type="date"] {
  margin: 8px;
  box-sizing: border-box;
  width: 85%;
}

input[type="radio"] {
  margin: 8px;
  box-sizing: border-box;
}

input[type="text"],
textarea {
  width: 85%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline;
}

button {
  background-color: #cccc;
  color: black;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 390px;
  margin-left: 55px;
  margin-top: 20px;

  font-size: 17px;
}

input {
  background-color: #cccc;
  color: black;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 45px;
  margin-left: 45px;
  margin-top: px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.kotakF {
  background-color: whitesmoke;
  width: 500px;
  border: 1px solid #cccc;
  border-radius: 20px;
  padding: 20px;
}
.kotakP {
  background-color: whitesmoke;
  border: 1px solid #cccc;
  border-radius: 20px;
  width: 500px;
}

.judulP {
  border-bottom: 1px solid #cccc;
  padding: 10px;
}

.judulP h3 {
  text-align: center;
}

.isiP {
  padding: 12px;
}

.isiP p {
  border: 1px solid #cccc;
  border-radius: 5px;
  margin-top: 10px;
  background-color: white;
  font-size: 17px;
  padding: 5px;
}

footer {
  margin-top: 100px;
  border-top: 1px solid #cccc;
  background-color: #9bbec8;
}

footer h3 {
  padding: 15px;
  text-align: center;
  margin-top: 10px;
  text-shadow: -2px 0px 4px rgba(251, 251, 251, 0.6);
}

/* responsive */
@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    width: 100%;
  }

  .nav-li li {
    font-size: 15px;
    display: inline;
    padding: 7px;
    margin: 10px;
  }

  .nav-li .jarak {
    margin-right: 20px;
  }

  nav .logo {
    display: none;
  }

  .gambarHome div {
    width: 290px;
  }

  .gambarHome h1 {
    font-size: 18px;
    word-spacing: 3px;
  }

  .judulAbout {
    display: flex;
    justify-content: space-around;
  }

  .aboutMe {
    display: block;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px;
    
  }

  .my {
    width: 280px;
    margin: auto;
    margin-bottom: 45px;
  }
  
  .myP {
    width: 280px;
    margin: auto;
  }

  .gambarAbout img {
    width: 180px;
  }

  .aboutT p {
    font-size: 15px;
  }

  .judulData h2{
    font-size: 18px;
    margin-bottom: 0px;
  }

  .isiData p {
    font-size: 14px;
  }
  .jarakPisi p{
    margin-top: 500px;
  }


  .judulMassge h1{
    margin-top: 110px;
  }

  .pesan {
    display: block;
    flex-direction: column;
    justify-content: space-around;
  }

  .kotakF {
    width: 280px;
    margin: auto;
    margin-bottom: 45px;
    padding: 10px;
    
  }

  button {
    padding: 5px;
    width: 200px;
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 17px;
  }

  label {
    padding: 5px 5px 5px 0;
    display: inline;
    font-size: 15px;
  }

  input[type="radio"] {
    box-sizing: border-box;
    margin-bottom: 40px;
    display: block;
    
  }

  .labelJK{
    display: flex;
    margin-top: -30px;
    text-align: center;
  }

  .kotakP {
    width: 280px;
    margin: auto;
  }

  .judulP h3 {
    font-size: 18px;
  }

  .isiP p {
    font-size: 15px;
  }


  footer{
    width: 100%;
  }

  footer h3 {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    text-shadow: -2px 0px 4px rgba(251, 251, 251, 0.6);
  }

}

@media only screen and (min-width: 600px) and (max-width: 1000px){
  nav .logo {
    width: 60px;
    margin-left: 5px;  
  }

  .nav-li li {
    border-radius: 15px;
    padding: 8px;
  }
  
  .nav-li .jarak {
    margin-right: 20px;
  }

  .gambarHome div {
    width: 490px;
  }


  .gambarHome h1 {
    font-size: 25px;
    word-spacing: 4px;
  }


  .aboutMe {
    display: block;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px;
  }

  .my {
    width: 400px;
    margin: auto;
    margin-bottom: 45px;
  }

  .myP {
    width: 400px;
    margin: auto;
  }

  .gambarAbout img {
    width: 230px;
  }
  .aboutT p {
    font-size: 16px;
  }

  .judulData h2{
    font-size: 19px;
    margin-bottom: 0px;
  }

  .isiData p {
    font-size: 16px;
  }


  .judulMassge h1{
    margin-top: 90px;
  }

  .pesan {
    display: block;
    flex-direction: column;
    justify-content: space-around;
  }

  .kotakF {
    width: 430px;
    margin: auto;
    margin-bottom: 45px;
    padding: 10px;
  }

  button {
    padding: 5px;
    width: 200px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
  }

  .kotakP {
    width: 430px;
    margin: auto;
  }

  

  .judulP h3 {
    font-size: 19px;
  }

  .isiP p {
    font-size: 16px;
  }

  footer h3 {
    font-size: 18px;
    padding: 15px;
    margin-top: 5px;
    
  } 
}

@media only screen and (min-width: 1000px) and (max-width: 1500px){
  nav .logo {
    width: 65px;
    margin-left: 5px;  
  }

  .my {
    width: 400px;
    
    
  }

  .myP {
    width: 400px;
    
  }

  .gambarAbout img {
    width: 220px;
  }
  
  .aboutT p {
    font-size: 16px;
  }

  .judulData h2{
    font-size: 19px;
    margin-bottom: 60px;
  }

  .isiData p {
    font-size: 16px;
  }

  .kotakF {
    width: 430px;
    padding: 10px;
  }

  button {
    padding: 5px;
    width: 200px;
    margin-left: 100px;
    margin-bottom: 5px;
    font-size: 18px;
  }

  .kotakP {
    width: 430px;
  }

  .judulP h3 {
    font-size: 19px;
  }

  .isiP p {
    font-size: 16px;
  }

  footer h3 {
    font-size: 18px;
    padding: 15px;
    margin-top: 5px;
    
  } 
  
}
